[Unit]
Description=HelixOS desktop session services
Documentation=https://github.com/mr1charles/new-os-
BindsTo=graphical-session.target
Wants=helixos-assistantd.service
